<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.checkroom.plugin.cameraattachment"
        version="0.4.0">

    <name>CameraAttachmentPlugin</name>
	
    <description>Cordova CameraAttachment Plugin for iOS and Android</description>
	
    <license>MIT</license>
	
    <keywords>cordova,camera,attachment,ios,ios7,ios8,android</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraAttachmentPlugin">
                <param name="android-package" value="com.checkroom.plugin.cameraattachment.CameraAttachmentPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature
                android:name="android.hardware.camera.autofocus"
                android:required="false" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    
        <js-module src="www/android/CameraAttachmentPlugin.js" name="CameraAttachmentPlugin">
            <clobbers target="cameraAttachmentPlugin" />
        </js-module>
    
        <source-file src="src/android/CameraAttachmentPlugin.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        <source-file src="src/android/CameraAttachmentDialog.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        <source-file src="src/android/CameraAttachmentConfig.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        <source-file src="src/android/CameraPreview.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        <source-file src="src/android/BitmapUtils.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        <source-file src="src/android/UploadImageTask.java" target-dir="src/com/checkroom/plugin/cameraattachment" />
        
        <source-file src="src/android/res/layout/camera_attachment_dialog.xml" target-dir="res/layout" />
        <source-file src="src/android/res/drawable-hdpi/ic_action_camera.png" target-dir="res/drawable-hdpi" />
        
        <source-file src="src/android/gen/com/checkroom/plugin/cameraattachment/R.java" target-dir="gen/com/checkroom/plugin/cameraattachment" />
        
    </platform>
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		<feature name="CameraAttachmentPlugin">
			<param name="ios-package" value="CameraAttachmentPlugin"/>
		</feature>
        </config-file>

        <js-module src="www/ios/CameraAttachmentPlugin.js" name="CameraAttachmentPlugin">
            <clobbers target="cameraAttachmentPlugin" />
        </js-module>

	    <header-file src="src/ios/CameraAttachmentPlugin.h" />
	    <source-file src="src/ios/CameraAttachmentPlugin.m" />
        <header-file src="src/ios/CameraAttachmentViewController.h" />
        <source-file src="src/ios/CameraAttachmentViewController.m" />
        <header-file src="src/ios/PhotoUploader.h" />
        <source-file src="src/ios/PhotoUploader.m" />
        <header-file src="src/ios/CameraAttachmentConfig.h" />
        <source-file src="src/ios/CameraAttachmentConfig.m" />
		<resource-file src="src/ios/CameraAttachmentViewController.xib" />

    </platform>

</plugin>